invocables/sfmc_orderConfirmation/flow/Order_Summary_RT.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Fire_Event_in_Journey</name>
        <label>Fire Event in Journey</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <actionName>OrderConfirmationCallout</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Email</name>
            <value>
                <elementReference>$Record.Account.PersonEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>First_Name</name>
            <value>
                <elementReference>$Record.Account.FirstName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>JourneyAPIEventKey</name>
            <value>
                <stringValue>APIEvent-XXXX</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Last_Name</name>
            <value>
                <elementReference>$Record.Account.LastName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OrderSummaryId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SubscriberKey</name>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>OrderConfirmationCallout</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Check_Email</name>
        <label>Check Email</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Email_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.PersonEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fire_Event_in_Journey</targetReference>
            </connector>
            <label>Email Exists</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Order Summary RT {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Order Summary RT</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Email</targetReference>
        </connector>
        <object>OrderSummary</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
